/*
 * Background mixin
 * e.g. bg: 'logo.png' (with specified img-path in 'settings')
 * e.g. bg: '../img/logo.png' 100px 50px
 */
bg(path, args...)
  args = unquote('no-repeat') unless args
  background: url(img-path path) args

bgImage($url)
  background-image: s('url(%s)', $version is defined ? $url + '?' + $version : $url)
  background-size: (image-size($url)[0] / 2) (image-size($url)[1] / 2)
  background-repeat: no-repeat

/*
 * Background mixin for retina displays
 *
 * use it together with '@media all and (-webkit-min-device-pixel-ratio: 1.5)'
 */
bg-retina(path, args...)
  bg: path, args
  background-size: contain