//http://www.w3cplus.com/sites/default/files/blogs/2014/1408/h5-share/retina.html

$lightgrey = #eaeaea
$greybase64 = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEXW1taWrGEgAAAACklEQVQIHWNgAAAAAgABz8g15QAAAABJRU5ErkJggg=='
// 1px.png
$lightgreyTop = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAQAAAAziH6sAAAADklEQVQIHWN49Z+BgQEACJQB6qv4qWwAAAAASUVORK5CYII='
// 1pxright.png
$lightgreyRight = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAQAAABeK7cBAAAADUlEQVQIHWNgYHj1HwAC2AHqBdW9WQAAAABJRU5ErkJggg=='

hairlines($direction = 'all', $color = #d6d6d6)
  if $direction == 'all'
    if $color == 'none'
      border: none
    else
      border: 1px solid $color
      .hairlines &
        background-image: -webkit-linear-gradient(top,transparent 50%,$color 50%),
        -webkit-linear-gradient(right,transparent 50%,$color 50%),
        -webkit-linear-gradient(bottom,transparent 50%,$color 50%),
        -webkit-linear-gradient(left,transparent 50%,$color 50%)
        background-image:linear-gradient(to top,transparent 50%,$color 50%),
        linear-gradient(to right,transparent 50%,$color 50%),
        linear-gradient(to bottom,transparent 50%,$color 50%),
        linear-gradient(to left,transparent 50%,$color 50%)
        background-size: 100% 1px,1px 100%,100% 1px,1px 100%
        background-repeat: no-repeat
        background-position: top center,right center,bottom center,left center
        border:0 none;
  else
    if $color == 'none'
      border-{$direction}: none
      background: none
    else
      border-{$direction}: 1px solid $color
      .hairlines &
        border-{$direction}: none
        background-size: 1px 1px
        // padding-{$direction}: 1px
        if $direction == 'top'
          if $color == #eaeaea
           background-image: url($lightgreyTop)
          else
            background-image: url($greybase64)
          background-position: 0 0
          background-repeat: repeat-x
        if $direction == 'right'
          if $color == #eaeaea
           background-image: url($lightgreyRight)
          else
            background-image: url($greybase64)
          background-position: 100% 0
          background-repeat: repeat-y
        if $direction == 'bottom'
          if $color == #eaeaea
           background-image: url($lightgreyTop)
          else
            background-image: url($greybase64)
          background-position: 0 100%
          background-repeat: repeat-x
        if $direction == 'left'
          background-position: 0 0
          background-repeat: repeat-y

hairlines-p-el($direction, $color = #d6d6d6)
  border-{$direction}: 1px solid $color
  .hairlines &
    border-{$direction}: none
    if $direction == 'top'
      +p-el(after, 100%, 1px)
        absolute(top 0 left 0 right 0)
        background: $color
        transform: scaleY(0.5)
    if $direction == 'right'
      +p-el(after, 1px, 100%)
        absolute(top 0 bottom 0 right 0)
        background: $color
        transform: scaleX(0.5)
    if $direction == 'bottom'
      +p-el(after, 100%, 1px)
        absolute(bottom 0 left 0 right 0)
        background: $color
        transform: scaleY(0.5)
    if $direction == 'left'
      +p-el(after, 1px, 100%)
        absolute(top 0 bottom 0 left 0)
        background: $color
        transform: scaleY(0.5)

hairlines-p-el-before($direction, $color = #d6d6d6)
  border-{$direction}: 1px solid $color
  .hairlines &
    border-{$direction}: none
    if $direction == 'top'
      +p-el(before, 100%, 1px)
        absolute(top 0 left 0 right 0)
        background: $color
        transform: scaleY(0.5)
    if $direction == 'right'
      +p-el(before, 1px, 100%)
        absolute(top 0 bottom 0 right 0)
        background: $color
        transform: scaleX(0.5)
    if $direction == 'bottom'
      +p-el(before, 100%, 1px)
        absolute(bottom 0 left 0 right 0)
        background: $color
        transform: scaleY(0.5)
    if $direction == 'left'
      +p-el(before, 1px, 100%)
        absolute(top 0 bottom 0 left 0)
        background: $color
        transform: scaleY(0.5)