/*
 * pseudo-elements mixin
 */
 
p-el($el, $el-width = null, $el-height = null)
    if($el == 'before' || $el == 'after')
        &
          position: relative
        &::{$el}
          content: ''
          position: absolute
          if($el-width)
            width: $el-width
          if($el-height)
            height: $el-height
          {block}
    else
        error($el + 'is not a valid pseudo-element.')

/*================================Use======================
.icon-toggle
  width: 1.56em
  height: 0.75em
  position: relative
  display: inline-block
  border-top: solid .125em #60666c;
  +p-el(before, 1.56em, .125em)
    background: #888c91
    top: .25em
  
  +p-el(after, 1.56em, .125em)
    background: #afb3b5
    bottom: 0
=============================Output========================
.icon-toggle {
  width: 1.56em;
  height: 0.75em;
  position: relative;
  display: inline-block;
  border-top: solid 0.125em #60666c;
}
.icon-toggle::before {
  content: '';
  position: absolute;
  width: 1.56em;
  height: 0.125em;
  background: #888c91;
  top: 0.25em;
}
.icon-toggle::after {
  content: '';
  position: absolute;
  width: 1.56em;
  height: 0.125em;
  background: #afb3b5;
  bottom: 0;
}
============================================================*/
