/* sprite mixin
 */

$spriteImg = 'path/to/spriteImg.png'

sprite-bg($bgImg, $w, $h)
  background-image: url($bgImg)
  background-size: ($w/2) ($h/2)
  background-repeat: no-repeat

sprite-pos($posX, $posY)
  background-position: ($posX/2) ($posY/2)

// sprite($posX, $posY)
//   sprite-bg()
//   sprite-pos($posX, $posY)