/* sprite mixin
 */

$spriteImg = 'path/to/spriteImg.png'

sprite-bg()
  background-image: url($spriteImg)
  background-size: $spriteW $spriteH
  background-repeat: no-repeat

sprite-pos($posX, $posY)
  background-position: ($posX/2) ($posY/2)

sprite($posX, $posY)
  sprite-bg()
  sprite-pos($posX, $posY)