/*
 * Hide text.
 */
hide-text()
  text-indent: 101%
  white-space: nowrap
  overflow: hidden

/*
 * Replace text with an image.
 */
replace-text(image, x=50%, y=50%)
  hide-text()
  background-image image
  background-repeat no-repeat
  background-position x y

/*
 * Ellipsis with wrapping disabled by default.
 */
ellipsis(no-wrap = true)
  if no-wrap
    white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

mlellipsis(font-size, line-height, lines-to-show)
  display block /* Fallback for non-webkit */
  display -webkit-box
  // height font-size*line-height*lines-to-show /* Fallback for non-webkit */
  max-height font-size*line-height*lines-to-show /* Fallback for non-webkit */
  font-size font-size
  line-height line-height
  -webkit-line-clamp lines-to-show
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis

word-break()
  word-break: break-all