/*
 * Base classes
 */
.show
    block()

.hide
    hide()

.clearfix
    clearfix()

.visible
    visibility: visible

.hidden
    visibility: hidden

$spriteImg = 'path/to/spriteImg.png'
$spriteImgW = 50px
$spriteImgH = 50px

.sprite, .s-b::before, .s-a::after
  sprite-bg($spriteImg, $spriteImgW, $spriteImgH)