/*
 * Base classes
 * e.g. base-classes()
 */
base-classes()
    .show
        block()

    .hide
        hide()

    .clearfix
        clearfix()

    .visible
        visibility: visible

    .hidden
        visibility: hidden