/*
 * Box-shadow mixin
 * e.g. box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .5)
 */
box-shadow()
    -prefix(box-shadow, arguments)

/*
 * Border-radius mixin
 * e.g. border-radius: 5px
 */
border-radius()
    -prefix(border-radius, arguments)

/*
 * Transition mixins
 * e.g. transition: all 300ms ease-in-quad
 */
transition()
    -prefix(transition, arguments)

transition-property()
    -prefix(transition-property, arguments)

transition-duration()
    -prefix(transition-duration, arguments)

transition-timing-function()
    -prefix(transition-timing-function, arguments)

transition-delay()
    -prefix(transition-delay, arguments)

/*
 * Transform mixins
 * transform: rotate(20deg)
 */
transform()
    -prefix(transform, arguments)

transform-origin()
    -prefix(transform-origin, arguments)

perspective()
    -prefix(perspective, arguments)

perspective-origin()
    -prefix(perspective-origin, arguments)

transform-style()
    -prefix(transform-style, arguments)

backface-visibility()
    -prefix(backface-visibility, arguments)