/*
 * Transition mixins
 * e.g. transition: all 300ms ease-in-quad
 */
transition()
    -prefix(transition, arguments)

transition-property()
    -prefix(transition-property, arguments)

transition-duration()
    -prefix(transition-duration, arguments)

transition-timing-function()
    -prefix(transition-timing-function, arguments)

transition-delay()
    -prefix(transition-delay, arguments)