scrat-sprite($url)
  background-image: url($url + '?__sprite')
  background-size: (image-size($url)[0] / 2) (image-size($url)[1] / 2)
  background-repeat: no-repeat

scrat-inline($url)
  background-image: url($url + '?__inline')
  background-size: (image-size($url)[0] / 2) (image-size($url)[1] / 2)
  background-repeat: no-repeat